{% extends "tickets/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}



    <div class="content-section">


          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group1">
                <legend class="border-bottom mb-2">New department addition</legend>
                {{ department_form|crispy }}
                </fieldset>
            <div class="form-group1">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
            </form>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group2">
                    <legend class="border-bottom mb-2">New position addition</legend>
                    {{ positions_form|crispy }}
                    </fieldset>
                <div class="form-group2">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>

        <div class="col-lg-14">
		    <hr>
		<div class="card card-body">
<!--			<a class="btn btn-primary  btn-sm btn-block" href="">Add New Ticket</a>-->
            <hr>
			<table class="table table-striped table-lg">
				<tr>

					<th>Departament</th>
					<th>Update</th>
					<th>Delete</th>
                    <th>Position</th>
                    <th>Update</th>
                    <th>Delete</th>
				</tr>

				{% for department in all_departments %}
				<tr>
					<td width="10px">{{ department.department }}</td>
					<td width="50px"><a class="btn btn-sm btn-secondary" href="">Update </td>
					<td width="50px"><a class="btn btn-sm btn-light" href="">Delete </td>

				{% endfor %}

				{% for position in all_positions %}
					<td width="10px">{{ position.position }}</td>
					<td width="50px"><a class="btn btn-sm btn-secondary" href="">Update</td>
					<td width="50px"><a class="btn btn-sm btn-light" href="">Delete</td>
                {% endfor %}
                </tr>
			</table>
		</div>
	</div>

</div>



{% endblock content %}